.btn
  border: none
  border-radius: 0.14rem

  font-family: "Futura Demi", sans-serif

  font-size: 0.929rem
  text-transform: uppercase

  &:hover
    cursor: pointer

  &--primary
    color: $light
    background-color: $primary
    box-shadow: 0 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.3s

    &:hover
      box-shadow: none

  &--outline
    border: 1px solid $light
    color: $light
    background-color: transparent

.label
  font-size: 1.07rem

  &--light
    color: rgba($light, 0.5)

.input
  padding: 0.5rem 0

  font-size: 1.285rem

  color: $light
  border: none
  border-bottom: 1px solid rgba($light, 0.15)
  background-color: transparent

  &--light
    &::placeholder
      color: $light

.policy
  &__checkbox
    opacity: 0
    visibility: hidden

    &:checked +
      .policy__label
        &::before
          background: $primary url("../img/interface/check.svg") no-repeat center / 0.8rem

  &__label
    display: flex
    align-items: center

    &::before
      content: ""
      width: 18px
      height: 18px
      margin-right: 0.64rem

      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer

.scroll
  text-decoration: none
  text-transform: uppercase

  color: $light
  background-color: $dark

  transition: 300ms

  &::after
    content: ""
    width: 29px
    height: 29px
    margin-left: 12px

    border: 2px solid $primary
    border-radius: 50%

  &--invisible
    opacity: 0
    visibility: hidden

    transition: 300ms

  &-up
    position: fixed
    right: 0
    bottom: 0

    display: flex
    justify-content: center
    align-items: center

    padding: 1rem

    &::after
      content: ""

      background: url("../img/interface/arrow_up.svg") no-repeat center





