*, *::before, *::after
  box-sizing: border-box

h1, p
  margin: 0

html
  font-size: 14px
  scroll-behavior: smooth

body
  font-family: "Futura Book", sans-serif

img
  max-width: 100%

.section
  padding: 60px 0

  &__text
    max-width: 40.785rem
    margin: auto auto 4.285rem

    font-size: 1.428rem
    line-height: 2.42rem
    text-align: center

    &::before
      content: ''
      display: block
      width: 55px
      height: 2px

      background-color: $primary
      border-radius: 30px

  &--dark
    color: $light
    background-color: $dark

  &-title
    text-align: center

    &--left
      text-align: left

    &__description
      margin: 0 auto 3.4rem
      max-width: 741px

      font-size: 1.43rem
      line-height: 1.93rem

      color: $dark2

    &--light
      color: $light

    &__heading
      margin-bottom: 0.93rem

      font-family: "Yeseva One", cursive
      font-size: 1.43rem
      line-height: 2rem
      text-transform: uppercase

      &--primary
        color: $primary

    &__subheading
      margin-top: 0
      margin-bottom: 1.29rem

      font-family: 'Futura Demi', sans-serif
      font-size: 1.07rem
      line-height: 1.5rem
      text-transform: uppercase

    &__word
      display: flex
      align-items: center

      &::after
        content: ''
        width: 92px
        height: 1px

        background-color: $primary

    &__text
      max-width: 31.57rem
      margin-bottom: 3rem

      font-size: 1.28rem
      line-height: 2.07rem

    &__image
      display: flex
      justify-content: center
      align-items: center

      &::before, &::after
        content: ""
        width: 32px
        height: 2px
        margin: 0 10px
        background-color: $primary

.card
  &__text
    position: relative
    margin: -9rem auto 0

    max-width: 23.6rem

    color: $secondary
    background-color: $light
    box-shadow: 0.71rem 0.71rem 1.43rem rgba(0, 0, 0, 0.03)

  &__title
    font-family: "Yeseva One", cursive
    font-size: 1.29rem
    line-height: 1.79rem
    margin-top: 0

    color: $dark2

  &__list
    padding: 0 0 0 1rem

    font-size: 1.07em
    line-height: 1.79rem

    color: $secondary

  &__item
    &--mobile-showable
      display: none

  &__pricetag
    position: absolute
    left: 0
    bottom: -1.79rem

    font-family: "Yeseva One", cursive
    font-size: 1.19rem
    text-transform: uppercase

    color: $light
    background-color: $primary

  &__badge
    position: relative

    max-width: 16.64rem
    margin: -7rem auto 0
    padding-top: 1.57rem

    background-color: $light
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05)

  &__name
    margin: 0

    font-family: "Yeseva One", cursive
    font-size: 1.29rem
    line-height: 1.79rem

    color: $black

  &__occupation
    margin-top: 0.64rem
    font-size: 1.29rem
    line-height: 1.86rem

    color: $secondary

  &__experience
    display: block
    margin-top: 1.71rem
    padding-top: 1rem
    padding-bottom: 1rem

    font-family: "Yeseva One", cursive
    font-size: 0.93rem
    line-height: 1.43rem
    text-transform: uppercase

    color: $light
    background-color: $primary

@media screen and (max-width: 760px)
  .card
    &__text
      margin-top: -13rem
      margin-left: 0

    &__item
      &--mobile-hidable
        display: none

      &--mobile-showable
        display: inline

  .section
    &-title
      &__description
        max-width: 21.86rem
        margin: 1.64rem auto 2.79rem

        font-size: 1.07rem
        line-height: 1.93rem

        color: $light






