*, *::before, *::after
  box-sizing: border-box

h1, p
  margin: 0

html
  font-size: 14px

body
  font-family: "Futura Book", sans-serif

img
  max-width: 100%

.section
  padding: 60px 0

  &-title
    text-align: center

    &__heading
      font-family: "Yeseva One", cursive
      text-transform: uppercase

    &__image
      display: flex
      justify-content: center
      align-items: center

      &::before, &::after
        content: ""
        width: 32px
        height: 2px
        margin: 0 10px
        background-color: $primary

    &__description
      max-width: 21.86rem
      margin: 1.64rem auto 0

      font-size: 1.07rem
      line-height: 1.93rem
