*, *::before, *::after
  box-sizing: border-box

h1, p
  margin: 0

html
  font-size: 14px

body
  font-family: "Futura Book", sans-serif

img
  max-width: 100%

.section
  padding: 60px 0

  &-title
    text-align: center

    &__heading
      margin-bottom: 0.93rem

      font-family: "Yeseva One", cursive
      font-size: 1.43rem
      line-height: 2rem
      text-transform: uppercase

    &__image
      display: flex
      justify-content: center
      align-items: center

      &::before, &::after
        content: ""
        width: 32px
        height: 2px
        margin: 0 10px
        background-color: $primary

    &__description
      margin: 0 auto 3.4rem
      max-width: 741px

      font-size: 1.43rem
      line-height: 1.93rem

      color: $dark2

.row
  display: flex
  justify-content: space-between
  align-items: flex-start

.col
  flex-basis: 32%

.card
  &__text
    position: relative
    margin: -9rem auto 0

    max-width: 23.6rem

    color: $secondary
    background-color: $light
    box-shadow: 0.71rem 0.71rem 1.43rem rgba(0, 0, 0, 0.03)

  &__title
    font-family: "Yeseva One", cursive
    font-size: 1.29rem
    line-height: 1.79rem
    margin-top: 0

    color: $dark2

  &__list
    padding: 0 0 0 1rem

    font-size: 1.07em
    line-height: 1.79rem

    color: $secondary

  &__pricetag
    position: absolute
    left: 0
    bottom: -1.79rem

    font-family: "Yeseva One", cursive
    font-size: 1.19rem
    text-transform: uppercase

    color: $light
    background-color: $primary

@media screen and (max-width: 760px)
  .row
    flex-direction: column
    align-items: center

  .types
    &__card
      margin-bottom: 5rem

  .card
    &__text
      margin-left: 0

  .section
    &-title
      &__description
        max-width: 21.86rem
        margin: 1.64rem auto 0

        font-size: 1.07rem
        line-height: 1.93rem


