.clients
  &__section
    padding-bottom: 26.6rem

  &__description
    max-width: 25.71rem
    margin-top: 1.35rem
    margin-bottom: 3.5rem

    line-height: 1.93rem

  &__card
    max-width: 26.86rem
    padding-top: 1.55rem
    padding-left: 2rem
    padding-right: 2rem

    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04)

  &__image
    border-radius: 50%

@media (max-width: 768px)
  .clients
    display: none
