.header
  padding: 24px 0
  background-color: $dark

.menu
  display: flex
  justify-content: space-between
  align-items: center

.logo
  color: $primary
  text-transform: uppercase

.nav
  &__item
    margin-right: 40px

    text-decoration: none
    text-transform: uppercase

    color: $light

.phone
  color: $light

.contacts__phone
  margin-right: 45px


