.header
  position: fixed
  top: 0
  left: 0
  width: 100vw
  z-index: 99
  padding: 24px 0

  line-height: 1.143rem

  background-color: $dark

.menu
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 1920px
  padding-left: 5.71rem
  padding-right: 7.14rem

.logo
  font-family: "Futura Demi", sans-serif

  text-transform: uppercase
  text-decoration: none

  color: $primary

.nav
  &__item
    margin-right: 2.6rem


    text-decoration: none
    text-transform: uppercase

    color: $light

    transition: color 0.2s

    &:hover
      color: $primary

.phone
  color: $primary

.contacts
  &__phone
    margin-right: 3rem

  &__btn
    padding: 12px 23px

@media screen and (max-width: 1350px)
  .nav
    &__item
      margin-right: 1rem

  .contacts
    &__phone
      margin-right: 1rem

@media screen and (max-width: 1200px)

@media screen and (max-width: 992px)
  .menu
    width: 87%
    margin: auto
    padding: 0

  .nav
    display: none

@media (max-width: 768px)
  .header
    background-color: $dark3

@media (max-width: 576px)
  .contacts
    &__phone
      margin-right: 0

      text-decoration: none

      color: $light

    &__btn
      display: none


