.hero
  position: relative

  padding-top: 100px

  height: 100vh

  background: $dark url("../img/hero_bg.jpg") no-repeat center / cover

  &__instagram
    position: absolute
    top: 0
    left: 0

    max-width: 80px
    height: 100%

.instagram
  display: flex
  justify-content: center
  align-items: center

  background-color: $dark

  &__link
    transform: rotate(90deg)

    display: inline-block

    text-decoration: none
    text-transform: uppercase

    color: $primary


