.projects
  &__section
    padding-top: 9.09rem

  &__column
    height: 42rem

  &__main
    width: 39%
    margin-right: 6rem

  &__section
    padding-bottom: 22rem

  &__heading
    margin-top: 0
    margin-bottom: 1.5rem

    font-size: 1.93rem
    line-height: 2.64rem
    letter-spacing: -0.07em

  &__word
    &::after
      margin-left: 2.5rem

  &__text
    max-width: 31.57rem
    margin-bottom: 2rem

  &__info
    width: 39%

  &__img
    width: 60%

  & .swiper
    &-slide
      display: flex
      flex-wrap: wrap
      align-content: flex-start

      &__text
        flex-basis: 39.5%
        margin-bottom: 1.2rem

        &:last-of-type
          margin-bottom: 6.25rem

      &__heading
        margin-bottom: 0.5rem
        padding-right: 1rem

        font-family: "Yeseva One", cursive
        font-size: 1.286rem
        line-height: 1.78rem
        font-weight: normal
        text-transform: uppercase

        color: $primary

      &__value
        font-size: 1.07rem
        line-height: 1.43rem

    &-pagination
      position: static

      display: inline-block
      width: fit-content
      margin-left: 28px

      &-bullet
        height: 9.57px
        width: 9.57px
        margin-right: 17.54px !important
        margin-bottom: 3px !important
        background-color: rgba($light, 0.3)

        &:last-of-type
          margin-right: 28px !important

        &-active
          background-color: $light

    &-button
      &-prev, &-next
        position: static

        display: inline-block
        width: 40px
        height: 14px

        &::after
          display: none

      &-prev
        background: url("../img/interface/arrow_prev.svg") no-repeat center

      &-next
        background: url("../img/interface/arrow_next.svg") no-repeat center

@media (max-width: 992px)
  .projects
    & .swiper
      &-slide
        &__text
          margin-bottom: 0
          padding-bottom: 0

          &:last-of-type
            margin-bottom: 4rem

@media screen and (max-width: 768px)
  .projects
    background-color: $dark3

    &__section
      padding-bottom: 0

    &__column
      height: auto

    &__main
      margin-right: 0

    &__heading
      margin-bottom: 1.83rem

      font-size: 1.83rem
      line-height: 2.5rem

    &__word
      &::after
        margin-left: 0

    &__text
      margin: 0 0 3rem
      padding: 0
      max-width: 100%

    &__img
      margin-bottom: 2.76rem

    &__info
      order: 1

    & .swiper
        &-slide
          &__heading, &__value
            font-size: 1.17rem
            line-height: 1.58rem

          &__text
            &:last-of-type
              margin-bottom: 4rem

        &-nav
          text-align: center



