%team-before
  content: ''
  position: absolute
  margin-top: -2.5rem
  margin-left: -2.5rem

  width: 5rem
  height: 5rem

  box-shadow: 0 5px 20px rgba(227, 184, 115, 0.5)

.team
  &__section
    margin-top: -35rem

  &__image
    margin-bottom: 1.64rem

  &__description
    max-width: 32rem
    margin-bottom: 5.9rem

  &__col
    text-align: center

  &__card

    &--manager
     &::before
       @extend %team-before

       background: $primary url("../img/icons/idea_ico.svg") no-repeat center

    &--designer
      &::before
        @extend %team-before

        background: $primary url("../img/icons/pen_ico.svg") no-repeat center

    &--brigadier
      &::before
        @extend %team-before

        background: $primary url("../img/icons/briefcase_ico.svg") no-repeat center

  &__text
    margin: 3.79rem auto 0

    &::before
      margin: auto auto 1.21rem

