.types
  &__section-title
    margin-bottom: 2rem

  &__image
    margin-bottom: 2.21rem

  &__text
    padding: 1.7rem 2.14rem

  &__title
    margin-bottom: 0.6rem

  &__list
    margin: 0 0 2.5rem 0

  &__pricetag
    padding: 1.214rem 3rem

@media screen and (max-width: 760px)
  .types
    padding-top: 70px

    &__card
      margin-bottom: 5rem














